<div class="container mx-auto px-4 pt-24 mt-24">
  <%= link_to("Créer un groupe", new_group_path(@group)) %>
  <h1 class="text-3xl font-bold text-center mb-8">Available Groups</h1>
  <%= render "groups/index/filters", topics: @topics %>
  <%= render "groups/index/list", topics: @topics %>
</div>
