<section class="px-4 py-12">
    <div class="text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-3">Foire aux questions</h2>
        <p class="text-xl text-gray-600">En savoir plus...</p>
    </div>

    <%= render AccordionComponent.new(wrapper_css: 'flex flex-col w-full border border-gray-100 rounded-lg divide-y divide-gray-100 overflow-hidden') do |accordion| %>
    <% accordion.with_closed_icon do %>
        <%= icon("chevron-down", class: "w-4 h-4 transition ease-in-out duration-200 group-open:-rotate-180 group-open:border-indigo-500 group-hover:text-indigo-500") %>
    <% end %>
    <% accordion.with_item(summary: "The Evolution of Painting Techniques", css: "px-2 py-3 font-semibold text-gray-700 transition ease-in-out duration-200 group-open:text-indigo-600 group-open:bg-indigo-50 hover:text-indigo-600 hover:bg-indigo-50") do %>
        <p class="px-2 py-3 text-gray-500">
        Explore the journey from ancient cave paintings to modern digital artistry, highlighting key innovations like Renaissance oil painting and Impressionist light play.
        </p>
    <% end %>
    <% accordion.with_item(summary: "Iconic Painters and Their Masterpieces", css: "px-2 py-3 font-semibold text-gray-700 transition ease-in-out duration-200 group-open:text-indigo-600 group-open:bg-indigo-50 hover:text-indigo-600 hover:bg-indigo-50") do %>
        <p class="px-2 py-3 text-gray-500">
        Dive into the lives of Da Vinci's versatile genius, Van Gogh's emotional swirls of color, and Picasso's pioneering cubism, each transforming the art world.
        </p>
    <% end %>
    <% accordion.with_item(summary: "The Role of Color Theory", css: "px-2 py-3 font-semibold text-gray-700 transition ease-in-out duration-200 group-open:text-indigo-600 group-open:bg-indigo-50 hover:text-indigo-600 hover:bg-indigo-50") do %>
        <p class="px-2 py-3 text-gray-500">
        Uncover how artists like Monet and Kandinsky used color theory to evoke emotions and depth, revolutionizing the use of color in art.
        </p>
    <% end %>
    <% accordion.with_item(summary: "The Impact of Art Movements", css: "px-2 py-3 font-semibold text-gray-700 transition ease-in-out duration-200 group-open:text-indigo-600 group-open:bg-indigo-50 hover:text-indigo-600 hover:bg-indigo-50") do %>
        <p class="px-2 py-3 text-gray-500">
        From the structured beauty of Neoclassicism to the rebellious spirit of Dadaism, discover how art movements reflect and shape societal values.
        </p>
    <% end %>
    <% accordion.with_item(summary: "Techniques of the Masters", css: "px-2 py-3 font-semibold text-gray-700 transition ease-in-out duration-200 group-open:text-indigo-600 group-open:bg-indigo-50 hover:text-indigo-600 hover:bg-indigo-50") do %>
        <p class="px-2 py-3 text-gray-500">
        Peek into the studios of history's greats, exploring Michelangelo's sculptural painting and Rembrandt's mastery of light and shadow.
        </p>
    <% end %>
    <% end %>
</section>
